.colors {
    background: url(../../image/Slider\ \(1\).png) center center/cover no-repeat;
    position: relative;
    color: #fff;
    display: flex;
    flex-direction: column;
}
.colors__title {
    display: flex;
    justify-content: flex-start;
    padding-top: 10%;
    padding-left: 10%;
}
.colors__blocks {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
}
.colors__item {
    display: flex;
}
.colors__button {
    font-size: 36px;
    font-weight: 700;
    width: 7rem;
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
    cursor: pointer;
}
.colors__button-text {
    writing-mode: vertical-lr;
    transform: rotate(180deg);

}
.colors__button--silver {
    background: rgba(153, 153, 153, 1);
}
.colors__button--black {
    background: rgba(21, 21, 21, 1);
}
.colors__button--red {
    background: rgba(224, 31, 60, 1);
}
.colors__overflow { 
    transition: width 0.7s;
    width: 0;
    overflow: hidden;
    justify-content: center;
    align-items: flex-start;
    background: rgba(51, 53, 55, 0.9);
}
.colors__overflow-text {
    font-family: Alegreya Sans;
    line-height: 2rem;
    padding: 2rem 2rem 0 2rem;
}