.delivery {
  background: url(../../image/Untitled.png) center bottom no-repeat, #181818;
  color: #fff;
  padding-bottom: 5.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.delivery__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.delivery__title {
  color: inherit;
  padding-top: 4.25rem;
  margin-bottom: 3.4rem;
}

.delivery__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0.6rem;
}

.delivery__column {
  width: calc(50% - 0.8rem);
}

.delivery__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.6rem;
}
.delivery__block:last-child {
  margin-bottom: 0;
}

.delivery__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1rem;
}
.delivery__item:last-child {
  margin-right: 0;
}

.delivery__item-title {
  margin-bottom: 0.2rem;
}

.delivery__item-input {
  width: 100%;
  height: 3.75rem;
  border: 3px transparent solid;
  border-radius: 5px;
}
.delivery__item-input:focus {
  border-color: #E01F3D;
  outline: none;
}

.delivery__item-input--textarea {
  height: 9.4rem;
  resize: none;
  margin-bottom: 1.25rem;
}

.delivery__select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1rem;
}
.delivery__select:nth-child(3) {
  margin-bottom: 2.9rem;
}

.delivery__radio {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1.1rem;
}
.delivery__radio:last-child {
  margin-right: 0;
  margin-top: 0.3rem;
}

.delivery__radio-input {
  display: none;
}
.delivery__radio-input:checked ~ .delivery__radio-fake::after {
  display: block;
}

.delivery__radio-fake {
  width: 1.6rem;
  height: 1.6rem;
  background: #fff;
  border-radius: 50%;
  margin-right: 0.6rem;
  position: relative;
}
.delivery__radio-fake::after {
  content: "";
  width: 0.8rem;
  height: 0.8rem;
  background: #E01F3D;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}

.delivery__radio--check .delivery__radio-fake {
  border-radius: 5px;
}
.delivery__radio--check .delivery__radio-fake::after {
  background: url(../../image/checkmark.png) center center no-repeat;
}

.delivery__button .button {
  margin-right: 0.9rem;
}

.delivery__item-error {
  color: #E01F3D;
}