.team {
    display: flex;
}
.team__title {
    margin-bottom: 5rem;
}
.team__conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.team__block {
    display: flex;
    justify-content: space-between;
}
.team__item {
    width: calc(100% / 4 - 1rem);
    text-align: center;
    position: relative;
}
.team__item--active {
    .team__content-icon {
        transform: rotate(180deg);
    }
}
.team__photo {
    margin-bottom: 1.5rem;
}
.team__foto-image {
    width: 100%;
    height: 100%;
}
.team__content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.8rem;
    cursor: pointer;
}
.team__content-name {
    margin-right: 0.2rem;
    font-size: 1.25rem;
    font-weight: 700;
}
.team__content-icon {
    fill: #E01F3D;
}
.team__accordion {
    position: absolute;
    height: 0;
    overflow: hidden;
    transition: height 0.3s;
}
.team__accordeion-job {
    margin-bottom: 0.2rem;
}
.team__accordion-merit {
    color: #666666;
}

