.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    width: 100vw;
    background: #fff;
    z-index: 2;
}
.footer__addres {
    color: #292929;
    font-size: 1.1rem;
}
.footer__icons {
    display: flex;
}
.footer__icon-item {
    margin-right: 1rem;
    &:last-child {
        margin-right: 0;
    }
}
.footer__icon-image  {
    fill: #B3B3B3;
    &:hover {
        fill: #000000;
    }
}