.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
  width: 100vw;
  background: #fff;
  z-index: 2;
}

.footer__addres {
  color: #292929;
  font-size: 1.1rem;
}

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__icon-item {
  margin-right: 1rem;
}
.footer__icon-item:last-child {
  margin-right: 0;
}

.footer__icon-image {
  fill: #B3B3B3;
}
.footer__icon-image:hover {
  fill: #000000;
}